
  @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Reggae One', cursive;
    
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background: #E3F2FD;
    flex-direction: column;
    gap: 1rem;
}

.gameoverbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #b0fc38;
    padding: 1rem;
    border-radius: 10px;
    visibility: hidden;


}

.gameover{
    font-size: 2rem;
    color: red;
}

.wrapper{
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    width:65vmin;
    height: 70vmin;
    background: #293447;
}

.game-details{
   color: #b8c6dc;
   font-size: 1.2rem;
   font-weight: 500;
   padding: 20px 27px;
   display:flex;
   justify-content: space-between;
}

.play-board{
    width:100%;
    height: 100%;
    background: #212837;
    display:grid;
    grid-template: repeat(30, 1fr)/ repeat(30, 1fr);
}

.play-board .food{
    background: red;
    border-radius: 50%;
}
.play-board .snakie{
    background: #b0fc38;
   

}

.controls{
    display: none;
    justify-content: space-between;
}
.controls i{
    padding: 25px 0;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: #b8c6dc;
    width: calc(100% / 4);
    border-right: 1px solid #171b26;

}

@media screen and (max-width: 800px){
    .wrapper{
        width: 90vmin;
        height: 115vmin;
    }

    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }
    
    .controls{
        display: flex;
    }
    .controls i{
        padding: 15px 0;
        font-size: 1rem;
    }

}